# Исключение виртуального окружения
venv/

# Конфиденциальные данные
.env
src/config.py


# Файлы кеша Python
*.pyc
__pycache__/

# Настройки IDE
.idea/
.vscode/

# Логи и временные файлы
*.log
*.tmp

# Системные файлы
.DS_Store  # Для macOS
